@page {
    size: A4;
    margin: 0;
  }
*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header{  background-position: fixed;}
  
header .profile .dados-header{
    background-color: green;
    height: 219px;
    width: 100%;
    color: white;
}
 header .profile .dados-header .cont{
    font-size: 20px;
    text-align: right;
    margin: 40px 100px 0;
   
}




.conteudo{
    background: #000;
    color: ;
}
